footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  font-size: 11px;
  text-align: center;
}
footer a {
  color: hsl(228, 45%, 44%);
}

html {
  width: auto;
  height: 100%;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(212, 45%, 89%);
}

main {
  font-family: "Outfit", sans-serif;
  padding: 16px;
  max-width: 320px;
  border-radius: 1rem;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
}

img {
  max-width: 100%;
  border-radius: 1rem;
}

h1 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 16px;
  color: hsl(218, 44%, 22%);
}

p {
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 24px;
  color: hsl(220, 15%, 55%);
}
